<launch>
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find global_planner)/logger.config"/>

  <include file="$(find global_planner)/launch/computers.machine" />

  <!-- launch global planner -->
  <!-- machine="Master" -->
  <node pkg="global_planner" type="global_planner_node" name="global_planner" output="screen" launch-prefix="terminator -x" >
    <!-- <param name="waypoints_file" value="cubicle.points" /> -->
    <param name="waypoints_file" value="falldemo.points" />
    <!-- naive/closest_robot/closest_waypoint -->
    <!-- <param name="planner" value="naive" /> -->
    <param name="planner" value="closest_waypoint" />
    <!-- <param name="planner" value="closest_robot" />  -->
  </node>

  <!-- human interface -->
  <!-- <node pkg="global_planner" type="human_interface_node" name="human_interface_node">
  </node> -->
</launch>
