<launch>
    <arg name="sim" default="true" />
    <arg name="two_bots" default="true" />
    <arg name="dump_test" default="false" /> <!-- Launch robot controllers collector/bin, collector is full -->
    <arg name="cubicle" default="true" />

    <!-- run if using gazebo simulator -->
    <group if="$(arg sim)">
        <!-- start cubicle world -->
        <group if="$(arg cubicle)">
            <include file="$(find collectorbot_gazebo)/launch/cubicle_world_map.launch" />
        </group>

        <!-- Do one bot unless two_bots arg is true -->
        <group unless="$(arg two_bots)">
            <include file="$(find collectorbot_gazebo)/launch/OneBot/onebot_robot.launch"/>
            <include file="$(find collectorbot_gazebo)/launch/OneBot/onebot_movebase.launch"/>
            <include file="$(find global_planner)/launch/one_robot.launch"/>
        </group>

        <!-- Do two bots if arg two_bots is true -->
        <group if="$(arg two_bots)">
            <!-- include our robots -->
            <include file="$(find collectorbot_gazebo)/launch/TwoBots/Cubicle/twobots_cubicle_robots.launch"/>

            <!-- Launch robot controllers -->
            <include file="$(find global_planner)/launch/robots.launch" />

            <!-- Run two robots amcl localization -->
            <include file="$(find collectorbot_gazebo)/launch/TwoBots/twobots_amcl.launch"/>

            <!-- Run two robots movebase  -->
            <include file="$(find collectorbot_gazebo)/launch/TwoBots/twobots_move_base.launch" />

            <!-- Run robot controllers -->
            <!-- For some reason the one of choice needs to be launched seperately after -->
            <!-- roslaunch global_planner robots_dump_test.launch -->
            <!-- roslaunch global_planner robots.launch -->

            <!-- <include file="$(find global_planner)/launch/robots_dump_test.launch" if="$(arg dump_test)" /> -->
            <!-- <include file="$(find global_planner)/launch/robots.launch" unless="$(arg dump_test)"/> -->
        </group>
    </group>

    <!-- Run if using real world environment -->
    <group unless="$(arg sim)">

        <group if="$(arg one_bot)">
            <!-- need to include map -->
            <include file="$(find global_planner)/launch/one_robot.launch"/>
            <include file="$(find scr_proto)/launch/FallDemo/onebot_falldemo.launch"/>
        </group>
        <group if="$(arg two_bots)">
            <!-- include our robots -->
            <include file="$(find global_planner)/launch/robots.launch" />

            <!-- Run two robots amcl localization -->
            <include file="$(find collectorbot_gazebo)/launch/TwoBots/twobots_amcl.launch"/>

            <!-- Run two robots movebase  -->
            <include file="$(find collectorbot_gazebo)/launch/TwoBots/twobots_move_base.launch"/>

            <!-- Run robot controllers -->
            <include file="$(find global_planner)/launch/robots.launch" />
        </group>
    </group>

    <include file="$(find global_planner)/launch/global_planner.launch" />
</launch>
