<launch>
  <include file="$(find global_planner)/launch/computers.machine" />

  <!-- first robot... -->
  <group ns="robot1">
    <!-- machine="Cristoff" -->
    <node pkg="global_planner" type="robot_controller_node" name="controller" output="screen" launch-prefix="terminator -x" >
      <param name="robot_name" value="Cristoff" />
      <param name="base_frame" value="robot_center" />
      <param name="tf_prefix" value="/robot1_tf" />
      <param name="robot_id" value="1" />
      <param name="type" value="collector" />
      <param name="storage_used" value="0" />
      <param name="storage_capacity" value="3" />
    </node>

    <include file="$(find april_tags)/launch/april_tags.launch">
      <!-- <arg name="machineName" value="Cristoff" /> -->
    </include>
  </group>

  <!-- second robot... -->
  <group ns="robot2">
    <!-- machine="Pepe" -->
    <node pkg="global_planner" type="robot_controller_node" name="controller" output="screen" launch-prefix="terminator -x" >
      <param name="robot_name" value="Pepe" />
      <param name="base_frame" value="robot_center" />
      <param name="tf_prefix" value="/robot2_tf" />
      <param name="robot_id" value="2" />
      <param name="type" value="collector" />
      <param name="storage_used" value="0" />
      <param name="storage_capacity" value="3" />
    </node>

    <include file="$(find april_tags)/launch/april_tags.launch">
      <!-- <arg name="machineName" value="Pepe" /> -->
    </include>
  </group>
</launch>
